<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.4" targetFramework="net40" developmentDependency="true" />
  <package id="BepInEx.BaseLib" version="5.4.11" targetFramework="net40" />
  <package id="UnityEngine.Core" version="2018.1.0" targetFramework="net40" />
</packages>